.cardWrapper {
  // width: 200px;
  // height: 20vh;
  background: green;
  margin: 20px;
  border-radius: 20px;

  img {
    border-radius: 20px 20px 0 0;
    height: 320px;
    width: 100%;
  }

  .textSection {
    padding: 10px;
    text-align: center;
    h2 {
    }

    p {
    }
  }
}
